* {
    padding: 0;
    margin: 0;
}
#game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
}
#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
#block {
    width : 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 580px;
}
.blockAnimation {
    animation: block 1s 1s linear infinite;
}
@keyframes block {
    0% {left: 570px;}
    100% {left: -40px;}
}
.playerAmination {
    animation: player 500ms 0s linear;
}
@keyframes player {
    0% {top: 150px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 150px;}
}
#start {
    width: 100px;
    height: 50px;
    padding: 10px;
}
#jump {
    width: 100px;
    height: 50px;
    padding: 10px;
}
#pause {
    width: 100px;
    height: 50px;
    padding: 10px;
}